{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% if cb %}
    {% include 'qphone.html' %}
    {% else %}

    {% for x in cr %}
<form action="" method="POST">
    {% csrf_token %}
<div class="col-xl-6 mb-xl-0 mb-4" style="margin-top: 1rem;">
                  <div class="card bg-transparent shadow-xl">
                    <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('{% static 'img/curved-images/curved14.jpg' %}');">
                      <span class="mask bg-gradient-dark"></span>
                      <div class="card-body position-relative z-index-1 p-3">
                        <h3 style="color: white;" name="cardtype">{{x.cardtype}}</h3>
                        <i class="fas fa-wifi text-white p-2"></i>
                <h5 class="text-white mt-4 mb-5 pb-2">{{x.uniqcode1}}&nbsp;&nbsp;&nbsp;{{x.uniqcode2}}&nbsp;&nbsp;&nbsp;{{x.uniqcode3}}&nbsp;&nbsp;&nbsp;{{x.uniqcode4}}</h5>
                        <div class="d-flex">
                          <div class="d-flex">
                            <div class="me-4">
                              <p class="text-white text-sm opacity-8 mb-0">Card Holder</p>
                              <h6 class="text-white mb-0" name="user">{{user.username}}</h6>
                            </div>
                            <div>
                              <p class="text-white text-sm opacity-8 mb-0">Expires</p>
                              <h6 class="text-white mb-0">{{x.expdate}}</h6>
                            </div>
                          </div>
                          <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                            <img class="w-60 mt-2" src="{{x.logo.url}}" alt="logo">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><br>
                  <a href="/cardspayment/{{x.id}}" style="color: white;background-color: dodgerblue;padding: 5px;border-radius: 5px;margin-left:10px;">Paynow ${{x.amount}}</a>
                </div>
            </form>
            {% endfor %}


    {% endif %}
</div>
{% endblock %}